{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>サインアップ</title>
  <meta charset="ytf-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script type="text/javascript" src="{% static 'style.js' %}"></script>
</head>
<body>
    {% block content %}
    <main>
    {# signup処理部分 #}
    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
    </tr>
    {% csrf_token%}
    </table>
    
    <input type="submit" value="signup" class="button"/>
    
    {# エラーメッセージを表示 #}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
         {% endfor %}
    {% endif %} 
    </form>
    {% endblock %}
</body>
</html>
