{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta charset="ytf-8">
  <title>Recci/食材登録履歴</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script type="text/javascript" src="{% static 'style.js' %}"></script>
</head>
 <body>
    <header>
        <center>
        <h1 id="title">Recci</h1>
        <div class="right">
        <ul>  
            {% if user.is_authenticated %}
            <li><a href="{% url 'main:foodindex' %}" class="btn btn--yellow btn--cubic">食材登録</a></li>
            {% endif %}
           <li><a href="{% url 'main:recipe'  %}">レシピ検索</a></li>
           <li><a href="{% url 'main:foodwisdom' %}">食育</a></li>
        </ul>
        </div>
        </center>
    </header>

<div class="contents">
     <h1>登録食品履歴</h1>
     <p>キーワード検索</p>
     <form action="{% url 'main:find_index' %}" method="post">
         {% csrf_token %}
         {{ form }}
         <tr><th><td>
            <input type = "submit" value="検索" class="button">
        </td></th></tr>
     </form>
     <hr>

     <table class="table">
        <table border="1">
            <tr>
            <th>食品名</th>
            <th>個数</th>
            <th>賞味期限</th>
            <th></th>
            <th></th>

            </tr>
        {% for item in all %}
            <tr>

                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.date }}</td>
                    <td><a href="{% url 'main:edit_index' item.id %}">編集</a></td>
                    <td><a href="{% url 'main:delete_index' item.id %}">削除</a></td>
                       
                </tr>
 
            </tr>   
        {% endfor %}
    </table>
    </table>
     
     <br>
     <br>
     <td><a href="{% url 'main:foodindex' %}">戻る</a></td>
     <td><a href="{% url 'main:recipe' %}">レシピへ</a></td>
</div>
 </body>
</html>
