{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Recci</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script type="text/javascript" src="{% static 'style.js' %}"></script>
</head>
<body>
  <header>
    <center>
    <h1 id="title">Recci</h1>
    <div class="right">
    <ul>  
        {% if user.is_authenticated %}
        <li><a href="{% url 'main:foodindex' %}" class="btn btn--yellow btn--cubic">食材登録</a></li>
        {% endif %}
       <li><a href="{% url 'main:recipe'  %}">レシピ検索</a></li>
       <li><a href="{% url 'main:foodwisdom' %}">食育</a></li>
    </ul>
    </div>
    </center>
  </header>

<div class="contents">
  <br>
  {% if user.is_authenticated %}
  <p>Recciへようこそ {{ user.username }}さん!</p>
  <a href="{% url 'logout' %}" class="logout">ログアウト</a>
  {% else %}
  <p>You are not logged in.</p>
  <p><a href="{% url 'login' %}">ログイン</a></p>
  <p><a href="{% url 'signup' %}">サインアップ</a></p>
  {% endif %}

 
  <hr>
<center>

  {% if user.is_authenticated %}
  <h2><a href="{% url 'main:foodindex' %}" class="btn btn--yellow btn--cubic">食材を登録する</a></h2>
  {% endif %}

  <h2> <a href="{% url 'main:recipe'  %}">レシピを検索する</a></h2>

  <h2><a href="{% url 'main:foodwisdom' %}">食材の加工法・保存法を見る</a></h2>
</center>
</div>
</body>
</html>
